html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  background-color: #111;
}

.controle-cor {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  background-color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}

#themeColor {
  width: 45px;
  height: 35px;
  border: none;
  cursor: pointer;
}