.container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "vermelho vermelho azul azul"
                            "verde rosa rosa rosa"
                            "amarelo amarelo amarelo amarelo";
    gap: 10px;
}

.container > div{
    border-radius: 5px;
}

.container .vermelho {
    grid-area: vermelho;
    background-color: red;
}

.azul {
    grid-area: azul;
    background-color: blue;
}

.verde {
    grid-area: verde;
    background-color: green;
}

.rosa {
    grid-area: rosa;
    background-color: rgb(207, 33, 184);
}

.amarelo {
    grid-area: amarelo;
    background-color: yellow;
}